@font-face {
	font-family: 'MontserratAlternates';
	src: url('./fonts/MontserratAlternates/MontserratAlternates-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'MontserratAlternates';
	src: url('./fonts/MontserratAlternates/MontserratAlternates-Medium.woff2')
		format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'MontserratAlternates';
	src: url('./fonts/MontserratAlternates/MontserratAlternates-SemiBold.woff2')
		format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'MontserratAlternates';
	src: url('./fonts/MontserratAlternates/MontserratAlternates-Bold.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'MontserratAlternates';
	src: url('./fonts/MontserratAlternates/MontserratAlternates-ExtraBold.woff2')
		format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'MontserratAlternates';
	src: url('./fonts/MontserratAlternates/MontserratAlternates-Black.woff2')
		format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

li {
	list-style: none;
}

body {
	cursor: default;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	user-select: none;
}

h4 {
	font-size: 1.4rem;
	font-weight: 500;
	margin-bottom: 0.4rem;
}

h5 {
	font-size: 1.2rem;
}

img {
	pointer-events: none !important;
	display: block;

	width: 100%;
	height: auto;
	object-fit: contain;
}
video {
	display: block;
	max-width: 100%;
	height: auto;
}

.app {
	padding-block: 24vh 16vh;
	padding-inline: 20px;
	max-width: 1200px;
	margin-inline: auto;

	font-size: 16px;
	font-family: 'MontserratAlternates', sans-serif;
}

@media screen and (max-width: 767px) {
	.app {
		padding-block: 12vh 8vh;
	}
}
